@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Montserrat:ital@0;1&family=Poppins:ital@0;1&family=Roboto&family=Satisfy&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

/* navbar css */

.navbar {
  background-color: rgb(64, 61, 61);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 24px;
  padding: 5px;
}

.links {
  text-decoration: none;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  width: 90px;
  text-align: center;
}
.links:hover {
  background-color: gray;
}
/* card css */

.card {
  font-family: "poppins" sans-serif;
  width: 220px;
  height: 280px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  background-color: rgb(60, 62, 63);
}
.card:hover {
  box-shadow: rgba(71, 71, 70, 0.35) 0px 5px 20px;
}

.card > div {
  color: white;
}

.image_wrapper {
  object-fit: cover;
  position: relative;
}

.image_wrapper img {
  width: 100%;
}
.animal_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  padding: 5px;
}

.social_wrapper button {
  padding: 5px;
  background-color: rgb(202, 135, 9);
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: aliceblue;
}

.social_wrapper button:hover {
  background-color: coral;
}
.social_wrapper p {
  color: rgb(239, 158, 7);
  font-size: 24px;
}

.animalList_container {
  display: flex;
  flex-wrap: wrap;
}

.removeButton {
  position: absolute;
  right: 0;
  font-size: 19px;
  padding: 5px;
  cursor: pointer;
}

.container {
  text-align: center;
  padding: 10px;
}

.container input {
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
  width: 300px;
  height: 30px;
  margin: 5px;
}

.container h1 {
  font-size: 40px;
  color: rgb(59, 57, 57);
}

/* home css */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  min-height: 100vh;
  gap: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.animals {
  width: 500px;
  height: 500px;
  background-image: url("/assets/tiger-sumatran-tiger-cat-predator-87415.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.birds {
  width: 500px;
  height: 500px;
  background-image: url("/assets/pexels-photo-416179.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
